* {
  font-size: 20px;
  font-family: "FiraCode Nerd Font Mono";
}

window#waybar {
  background: #292b2e;
  color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#battery,
#workspaces {
  background: #1a1a1a;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}
#workspaces button.active {
  color: #268bd2;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
}

#clock.1 {
  background: #1a1a1a;
}

#clock.2 {
  background: #1a1a1a;
}

#clock.3 {
  background: #1a1a1a;
}

#pulseaudio {
  color: #b3b3b3;
  background: #1a1a1a;
}

#network {
  color: #009999;
  background: #1a1a1a;
}

#bluetooth {
  color: #268bd2;
  background: #1a1a1a;
}

#battery {
  background: #1a1a1a;
  color: #859900;
  padding-right: 5px;
}
